html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}


.btn-updt {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #3498db;
    border-radius: 0.6em;
    color: #3498db;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 5em;
    height: 2.5em;
    align-items: center;
    justify-content: center;
}

    .btn-updt:hover, .btn-updt:focus {
        color: #fff !important;
        outline: 0;
    }
.btn-updt-app {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out !important;
}

    .btn-updt-app:hover {
        box-shadow: 0 0 40px 40px #3498db inset !important;
    }

.btn-updt-danger {
    color: #e74c3c !important;
    border: 2px solid #e74c3c !important;
}

.btn-updt-app-danger {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out !important;
}

    .btn-updt-app-danger:hover {
        box-shadow: 0 0 40px 40px #e74c3c inset !important;
    }

.btn-updt-warning {
    color: #2ecc71 !important;
    border: 2px solid #2ecc71 !important;
}

.btn-updt-app-warning {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out !important;
}

    .btn-updt-app-warning:hover {
        box-shadow: 0 0 40px 40px #2ecc71 inset !important;
    }

.btn-updt-sm {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #3498db;
    border-radius: 0.6em;
    color: #3498db;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 2em;
    height: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn-updt-sm:hover, .btn-updt-sm:focus {
        color: #fff !important;
        outline: 0;
    }

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 1.8em;
    margin: 0 auto;
    width: 80%;
}

.movie-item {
    width: 28em;
    height: 30em;
    display: flex;
    margin-bottom: 1.5em;
}

.movie-left {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 18em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: .4em .4em 0 0;
}

.movie-left-container {
    height: 80%;
    width: 100%;
    position: relative;
}

.movie-left-container-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-left-container-title {
    color: black;
    z-index: 999 !important;
    position: absolute;
    bottom: -36px;
    font-size: 1.5rem;
    left: 10px;
}

.movie-left-container-link {
    color: lightblue;
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 999;
    font-size: 1.5rem;
    cursor: pointer;
}

.movie-left-description {
    height: 15%;
    width: 100%;
    overflow: hidden;
    padding: 0 10px 0 10px;
    text-align: justify;
}

.movie-right {
    width: 10em;
    height: 100%;
    position: relative;
}

.movie-right-text {
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
}

.movie-right-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: absolute;
    bottom: 5px;
    left: 10px;
}



/*///////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #0c1e35;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0px;
    height: 100vh;
}

    #sidebar.expand {
        width: 260px;
        min-width: 260px;
        border-right: 6px solid #7d84ab;
    }

.sidebar-subitem {
    background-color: #172e4df5;
}

.sidebar-sub-subitem {
    background-color: #2f3b4beb;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

    .toggle-btn i {
        font-size: 1.5rem;
        color: #FFF;
    }

.sidebar-logo {
    margin: auto 0;
    opacity: 1; 
    transition: opacity 0.3s ease;
}

#sidebar input {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-indent: 1.8em;
    border: none;
    color: #0000008a;
    border-radius: 0.8em;
    margin-left: 2em;
    margin-top: -5em;
    position: absolute;
    top: 3em;
    width: 77%;
}

    .sidebar-logo a {
        color: #FFF;
        font-size: 1.15rem;
        font-weight: 600;
    }

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span,
#sidebar:not(.expand) input,
#sidebar:not(.expand) .side-bar-title,
#sidebar:not(.expand) .search-button {
    opacity: 0;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
    position: relative;
}

#sidebar .search-button {
    margin-left: 2.3em;
    width: 77%;
    border-radius: 1em;
    opacity: 1;
    transition: opacity 0.3s ease;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #7d84ab !important;
    display: block;
    font-size: 1.2rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

.side-bar-title {
    color: #7d84ab66;
    font-size: 1.1em;
    FONT-WEIGHT: 600;
    margin-left: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
    opacity: 1;
    transition: opacity 0.3s ease;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
    color: white !important;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
    color: white;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
    color: #7d84ab !important;
}

.pro-sidebar-logo{
    display: flex;
    align-items: center;
    color: white;
}

.pro-sidebar-logo > h5 {
    padding-top: .4em;
}

.pro-sidebar-logo > div {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    background-color: #ff8100;
    margin-right: 12px;
}

/*///////////////////////////////////////*/